### 소수점 자리수 지정하기

In [2]:
#round(숫자, 표시할 소수점 자릿수)
round(3.141592,2)

3.14

### 리스트와 for문 이용해 2단 출력하기

In [4]:
number = [1,2,3,4,5,6,7,8,9]
for item in number:
    print("2 x",item, "=" ,2*item)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

### for문을 2번 사용해 19단 곱셈표 출력하기

In [7]:
for i in range(1,20,1):
    for j in range(1,10,1):
        print(i,"x",j,"=",i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171

In [5]:
a = 23
b = 10.5
c = a+b
type(c)

float

### lambda를 이용해서 함수 만들기

In [3]:
y = lambda x : 3 * x
y(12)

36

In [4]:
add = lambda a, b : a + b
add(2, 3)

5

### 문자열 슬라이싱

In [5]:
littlePrince = '''여섯 살 적에 나는 '체험한 이야기'라는 제목의, 원시림에 관한 책에서 기막힌 그림 하나를 본 적이 있다. 맹수를 집어삼키고 있는 보아뱀 그림이었다. 위의 그림은 그것을 옮겨 그린 것이다. 그 책에는 이렇게 씌어 있었다.
"보아뱀은 먹이를 씹지도 않고 통째로 집어삼킨다. 그리고는 꼼짝도 하지 못하고 여섯 달 동안 잠을 자면서 그것을 소화시킨다."'''

In [6]:
littlePrince[:10]

'여섯 살 적에 나는'

In [8]:
short = lambda x : x[:10]
short(littlePrince)

'여섯 살 적에 나는'

### 서비스 가격 출력 프로그램 완성하기

In [10]:
def service_price():
    service = input("서비스 종류를 입력하세요, a/b/c: ")
    valueAdded = input('부가세를 포함합니까? y/n : ')
    if valueAdded == 'y':
        if service == 'a':
            result = 23 * 1.1
        if service == 'b':
            result = 40 * 1.1
        if service == 'c':
            result = 67 * 1.1
    if valueAdded == 'n':
        if service == 'a':
            result = 23
        if service == 'b':
            result = 40
        if service == 'c':
            result = 67
    print(round(result, 1), "만 원입니다.")

In [11]:
service_price()

서비스 종류를 입력하세요, a/b/c: b
부가세를 포함합니까? y/n : y
44.0 만 원입니다.

In [12]:
service_price()

서비스 종류를 입력하세요, a/b/c: c
부가세를 포함합니까? y/n : n
67 만 원입니다.

## return 완벽 이해하기

In [13]:
#print하는 함수
def addPrint(a,b):
    print(a+b)

In [14]:
#return하는 함수
def addReturn(a,b):
    return a+b

In [15]:
addPrint(1,2)
addReturn(1,2)
#별 차이 없음

3

3

In [16]:
print("The result is", addPrint(1,2))
#print는 결괏값을 출력할 뿐 저장하지는 않는다.

3
The result is None

In [18]:
print("The result is", addReturn(1,2))
#return은 결괏값을 함수의 결과물로 '반환'하기 때문에 결괏값을 다른 곳에 활용가능
#즉 반환 = 최종 결과물을 도출하여 저장한다.

The result is 3

### 파일 열고 닫기

In [19]:
f = open('a.txt','w')

In [20]:
f.close()

In [21]:
f = open('a.txt','w')

In [22]:
f.write('나는 오늘 학교에 갔다.')

13

In [23]:
f.close()

In [31]:
f = open('a.txt','r')

In [32]:
f.read()

'나는 오늘 학교에 갔다.'

In [26]:
f.read()

''

In [27]:
f.seek(0)

0

In [28]:
f.read()

'나는 오늘 학교에 갔다.'

In [30]:
f.close()

### with문으로 객체 만들지 않고 파일 입출력하기

In [34]:
f = open('abcde.txt','w')

In [35]:
f.write("I went to school today")

22

In [36]:
with open('test.txt','w') as f:
    f.write('오늘 나는 학교에 갔습니다.')

## 정규표현식으로 문자열 다루기

In [2]:
import re

### match 메서드 - 문자열 도입에서 패턴찾기

##### match 메서드 사용법 : re.match(패턴, 문자열)

In [38]:
re.match(r'life','life').group()
#문자열 'life'에서 'life'라는 패턴을 찾아 반환하세요

'life'

In [39]:
def refinder(pattern, script):     #refinder라는 함수를 정의합니다.
    if re.match(pattern, script):  #원고(script)에서 패턴을 찾을 수 있다면
        print("Match!")            #'Match!'를 출력하세요
    else:
        print("Not a match!")      #패턴을 찾지 못했다면 'Not a match'를 출력하세요

In [44]:
pattern = r'Life'
script = 'Life is so cool'

In [45]:
refinder(pattern,script)

Match!

In [46]:
pattern = r'life'
script = 'Life is so cool'

In [47]:
refinder(pattern,script)
#match는 대소문자를 구분한다.

Not a match!

In [48]:
pattern = r'is'
script = 'Life is so cool'

In [49]:
refinder(pattern,script)
#match는 문자열의 시작부터 매칭인지 찾기때문에 중간에 있는 패턴을 찾지 못함

Not a match!

### search 메서드 - 문자열 전체에서 패턴찾기

##### search 메서드 사용법 : re.search(패턴, 문자열)

In [50]:
pattern = r'is'
script = 'Life is so cool'

In [51]:
re.search(pattern,script).group()    #script에서 패턴('r.is')을 찾아 반환하세요
#match는 중간에 있는 is를 찾지 못했으나 search는 가능!

'is'

### findall 메서드 - 패턴을 모두 찾아 리스트로 반환하기

##### findall 메서드 사용법 : re.findall(패턴, 찾으려는 문자열)

In [3]:
number = 'My number is 511223-1****** and yours is 521012-2******'
re.findall('\d{6}',number)     #'\d{6}'패턴은 숫자를 여섯번 반복한 값을 의미합니다.
#match, search와 달리 findall은 결괏값이 빈 리스트로 나온다

['511223', '521012']

In [ ]:
#정규표현식의 탐욕 = 모든 문자를 다 집어삼키는 것

In [4]:
example1 = '저는 91년에 태어났습니다. 97년에는 IMF가 있었습니다. 지금은 2022년입니다.'
re.findall(r'\d.+년',example1)
#숫자(\d)로 시작하고, 어떤 문자든(.) 반복(+)되며, '년'으로 끝나는 문자열을 반환하라고 명령
#년으로 시작하는 문장이 통채로 출력되는 문제(탐욕)발생

['91년에 태어났습니다. 97년에는 IMF가 있었습니다. 지금은 2022년']

In [5]:
#탐욕을 멈추는 방법 = ?(물음표) 집어넣기

In [8]:
re.findall(r'\d.+?년',example1)

['91년', '97년', '2022년']

In [9]:
example = '이동민 교수는 다음과 같이 설명했습니다.(이동민, 2019). 그런데 다른 학자는 이 문제에 대해서 다른 견해를 가지고 있었습니다.(최재영, 2019). 또 다른 견해도 있었습니다.(Lion, 2018).'

In [11]:
result = re.findall(r'\(.+\)',example)

In [12]:
result

['(이동민, 2019). 그런데 다른 학자는 이 문제에 대해서 다른 견해를 가지고 있었습니다.(최재영, 2019). 또 다른 견해도 있었습니다.(Lion, 2018)']

In [13]:
#?(물음표)를 통해 탐욕 없애기

In [14]:
result = re.findall(r'\(.+?\)',example)
#닫는 괄호 앞에 ?를 달아줌

In [15]:
result

['(이동민, 2019)', '(최재영, 2019)', '(Lion, 2018)']

### split 메서드 - 문장 나누는 패턴만들기

#### split 메서드 사용법 : re.split(패턴, 문자열)

In [16]:
sentence = 'I have a lovely dog, really. I am not telling a lie. What a pretty dog! I love this dog.'

In [17]:
re.split(r'[.?!]', sentence)
#split은 특정한 패턴이 등장할 때 문자열을 나눈다.
#r을 쓰면 마침표, 느낌표, 물음표마다 역슬래시(\)를 붙이지 않아도 된다.

['I have a lovely dog, really',
 ' I am not telling a lie',
 ' What a pretty dog',
 ' I love this dog',
 '']

In [18]:
data = 'a:3; b:4; c:5'
for i in re.split(r';', data):
    print(re.split(r':',i))

['a', '3']
[' b', '4']
[' c', '5']

### sub 메서드 - 문자열 바꾸기

#### sub 메서드 사용법 : re.sub(찾을 패턴, 대체할 문자, 찾을 문자열)

In [19]:
sentence = 'I have a lovely dog, really. I am not telling a lie. What a pretty dog! I love this dog.'
#이 문장에서 개(dog)를 고양이(cat)으로 고쳐보자

In [20]:
re.sub(r'dog', 'cat', sentence)

'I have a lovely cat, really. I am not telling a lie. What a pretty cat! I love this cat.'

In [21]:
#불필요한 공백을 없애는 데에 아주 유용하게 사용될 수 있음

In [22]:
words = 'I am home now. \n\n\nI am with my cat.\n\n'
print(words)

I am home now.


I am with my cat.

In [24]:
re.sub(r'\n','',words)

'I am home now. I am with my cat.'

### 실습 : ly로 끝나는 단어 추출하기

In [25]:
sentence = 'I have a lovely dog, really. I am not telling a lie'

In [26]:
re.findall(r'\w+ly',sentence)
#r'\w+ly'는 숫자(\w)가 몇 번이 나와도 좋으니 반복하고(+), ly로 끝나는 패턴을 의미합니다.

['lovely', 'really']